html {
  scrollbar-width: thin;
  scrollbar-color: #aaa #555;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #555;
}
::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 6px;
  border: 3px solid #aaa;
}

body {
  margin: 0;
  padding: 0;
  color: #ddd;
  background: #111;
  font-size: 14px;
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
  overscroll-behavior: none;
}

textarea, button {
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
}

input[type=range] {
  vertical-align: middle;
}

textarea {
  overflow: auto;
  width: 98%;
  color: #ddd;
  background: #444;
  border: 2px solid #666;
  border-radius: 2px;
  font-size: 12px;
  margin-bottom: 10px;
}

button {
  display: inline-block;
  border: none;
  padding: 0.7rem 1rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #eee;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}
button:focus {
  outline: 1px solid #eee;
  outline-offset: -4px;
}
button:active {
  transform: scale(0.99);
}

a,
a:visited,
.mapboxgl-ctrl-attrib span,
.mapboxgl-ctrl-attrib a,
.mapboxgl-ctrl-attrib a:visited {
  color: #777;
  font-weight: bold;
  text-decoration: none;
}
a:hover,
.mapboxgl-ctrl-attrib a:hover {
  color: #999;
  text-decoration: none;
}
a.mapboxgl-ctrl-logo {
  opacity: 0.4;
}

.hasCols { display: flex; flex-flow: row nowrap; }
.hasRows { display: flex; flex-flow: column nowrap; }
.hasCols > div { flex: 1; }
.hasRows > div { flex: 1; }

.hidden    { display: none; }  /* remove from layout */
.invisible { opacity: 0; }     /* preserve layout */
.visible   { opacity: 1; }

.red     { color: rgba(255, 0, 0, 0.9); }
.green   { color: rgba(0, 255, 0, 0.9); }
.blue    { color: rgba(176, 176, 255, 0.9); }
.yellow  { color: rgba(255, 255, 0, 0.9); }
.cyan    { color: rgba(0, 255, 255, 0.9); }
.magenta { color: rgba(255, 0, 255, 0.9); }
.orange  { color: rgba(255, 153, 0, 0.9); }
.pink    { color: rgba(255, 0, 153, 0.9); }
.purple  { color: rgba(153, 0, 255, 0.9); }

#wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#attribution {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(32,32,32,0.6);
}

#side {
  flex: 0 0 25%;
  background: #222;
}

#title {
  flex: 0 0 50px;
  align-items: center;
  padding: 5px 10px;
}

#controls {
  flex: 0 0 50px;
  padding: 5px 10px;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
}
#controls > .control {
  padding: 0 20px;
}
#control-slider {
  flex: 2;
}

#octocat {
  flex: 0 0 40px;
}
#octocat a:visited, #octocat a {
  color: #ddd;
}
#octocat a:hover {
  color: #fff;
}

#title h2 {
  margin: 5px 15px;
}
#title .icon {
  flex: 0 0 32px;
}

#sidebar {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
#sidebar > .section {
  border-top: 1px solid #444;
  flex: 0 0 auto;
  padding: 10px 15px;
}

#button-row {
  align-items: center;
}

#eli-result-icon,
#loco-result-icon {
  flex: 0 0 40px;
}

#eli-remove-button,
#loco-remove-button,
#eli-result-icon,
#loco-result-icon,
#eli-result-message,
#loco-result-message {
  transition: opacity 200ms ease;
}

span.emojiFlag {
  margin: 0 10px;
  font-size: larger;
}
